In [1]:
import numpy as np
import pandas as pd

In [3]:
initialData = pd.read_csv(r"C:\Users\Eric\Documents\EECS 731\Proj6\Data\artificialWithAnomaly\artificialWithAnomaly\art_daily_jumpsup.csv")
initialData

                timestamp      value
0     2014-04-01 00:00:00  19.761252
1     2014-04-01 00:05:00  20.500833
2     2014-04-01 00:10:00  19.961641
3     2014-04-01 00:15:00  21.490266
4     2014-04-01 00:20:00  20.187739
...                   ...        ...
4027  2014-04-14 23:35:00  18.074649
4028  2014-04-14 23:40:00  21.002014
4029  2014-04-14 23:45:00  20.566713
4030  2014-04-14 23:50:00  18.254193
4031  2014-04-14 23:55:00  21.863147

[4032 rows x 2 columns]